.nav-bar{
    height: 8vh;
    width: 90vw;
    align-items: center;
}

.nav-list{
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    padding: 10px;
    color: #000;
}
.nav-item:hover{
    color: blue;
    cursor: pointer;
}
.side-nav{
    display: flex;
}
